@import url("../libs/bootstrap/css/bootstrap.min.css");

.verticalSpace {
    margin: 0 0 1em 0;
}

/* For Required fields - puts a yellow background color on inputs */
input.highlight, select.highlight, textarea.highlight {
    background-color: #FFC;
}

form label.required {
    font-weight: bold;
}

form label.required:before {
    color: #e32;
    content: '*';
    display: inline;
}

label.valid {
    width: 24px;
    height: 24px;
    background: url(../images/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}

label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.footer {
    text-align: center;
}
