.rating-container { }
.rating {
    background: url(../images/rating.png) no-repeat 7px 2px ;
    line-height: 1.5;
}
.rating.stars-0 { background-position: left 0px; }
.rating.stars-1 { background-position: left -20px; }
.rating.stars-2 { background-position: left -40px; }
.rating.stars-3 { background-position: left -60px; }
.rating.stars-4 { background-position: left -80px; }
.rating.stars-5 { background-position: left -100px; }
.rating.stars-6 { background-position: left -120px; }
.rating.stars-7 { background-position: left -140px; }
.rating.stars-8 { background-position: left -160px; }
.rating.stars-9 { background-position: left -180px; }
.rating.stars-10 { background-position: left -200px; }
.rating.stars-11 { background-position: left -220px; }
.rating.stars-12 { background-position: left -240px; }
.rating.stars-13 { background-position: left -260px; }
.rating.stars-14 { background-position: left -280px; }
.rating.stars-15 { background-position: left -300px; }
.rating.stars-16 { background-position: left -320px; }
.rating.stars-17 { background-position: left -340px; }
.rating.stars-18 { background-position: left -360px; }
.rating.stars-19 { background-position: left -380px; }
.rating.stars-20 { background-position: left -400px; }
.rating.stars-21 { background-position: left -420px; }
.rating.stars-22 { background-position: left -440px; }
.rating.stars-23 { background-position: left -460px; }
.rating.stars-24 { background-position: left -480px; }
.rating.stars-25 { background-position: left -500px; }
.rating.stars-26 { background-position: left -520px; }
.rating.stars-27 { background-position: left -540px; }
.rating.stars-28 { background-position: left -560px; }
.rating.stars-29 { background-position: left -580px; }
.rating.stars-30 { background-position: left -600px; }
.rating.stars-31 { background-position: left -620px; }
.rating.stars-32 { background-position: left -640px; }
.rating.stars-33 { background-position: left -660px; }
.rating.stars-34 { background-position: left -680px; }
.rating.stars-35 { background-position: left -700px; }
.rating.stars-36 { background-position: left -720px; }
.rating.stars-37 { background-position: left -740px; }
.rating.stars-38 { background-position: left -760px; }
.rating.stars-39 { background-position: left -780px; }
.rating.stars-40 { background-position: left -800px; }
.rating.stars-41 { background-position: left -820px; }
.rating.stars-42 { background-position: left -840px; }
.rating.stars-43 { background-position: left -860px; }
.rating.stars-44 { background-position: left -880px; }
.rating.stars-45 { background-position: left -900px; }
.rating.stars-46 { background-position: left -920px; }
.rating.stars-47 { background-position: left -940px; }
.rating.stars-48 { background-position: left -960px; }
.rating.stars-49 { background-position: left -980px; }
.rating.stars-50 { background-position: left -1000px; }

.rate li { display: inline-block; width: 16px; height: 18px;  background: url(../images/rating.png) no-repeat 0 0; float: left; padding: 0 1px; }
.rate li:hover { cursor: pointer; background-position: 0 -200px; }
.rate li.on, .rate li.hover { background-position: 0 -200px; }
.rate li.hover-off { background-position: 0 0; }
.rate li.hover-on { background-position: 0 -200px; opacity: 0.75; filter: alpha(opacity=75); }
.rate li span { position: absolute; left: -9999px; }

