<?xml version='1.0' encoding='utf-8'?>
<Context>
    <!-- Disable session persistence across Tomcat restarts -->
    <Manager pathname="" />

    <Parameter name="repository-address" value="rmi://127.0.0.1:1099/hipporepository" override="false"/>

    <!-- Hippo Konakart configuration-->
    <Resource
            name="jdbc/konakart" auth="Container" type="javax.sql.DataSource"
            maxActive="20" maxIdle="10" minIdle="2" initialSize="2" maxWait="10000"
            testOnBorrow="true" validationQuery="select 1 from dual"
            poolPreparedStatements="true"
            username="root" password=""
            driverClassName="com.mysql.jdbc.Driver"
            url="jdbc:mysql://localhost:3306/hippocart?zeroDateTimeBehavior=convertToNull&amp;autoReconnect=true&amp;characterEncoding=utf8" />
    <!--
    <Parameter name="repository-directory" value="/data/storage" override="false"/>
    -->

    <!--
    <Parameter name="hst-config-properties" value="file:${catalina.base}/conf/hst.properties" override="false"/>
    -->

</Context>
