
/demo/.idea
/demo/target
/demo/myrepo
/konakart/target
/konakart/cms/target
/konakart/modules/target
/konakart/common/target
/konakart/dependencies/target
/konakart/hst-client/target
/konakart/repository/target
/konakart/replication/target
/konakart/plugins/target
/konakart/.idea
/demo/cms/overlays
/demo/cms/target
/demo/site/target
/demo/content/target
*.iml
/konakart-dependency/.idea
/konakart-dependency/atlassian-ide-plugin.xml
/konakart/cms/.idea
/konakart-dependency/.idea
/konakart-dependency/.idea/inspectionProfiles
/demo/bootstrap/target
/demo/bootstrap/configuration/target
/demo/bootstrap/content/target
atlassian*
.classpath
.project
.settings
