<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd



                           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    <!-- HTTP Security Configuration -->
    <http auto-config="true">
        <intercept-url pattern="/css/**" filters="none"/>
        <intercept-url pattern="/images/**" filters="none"/>
        <intercept-url pattern="/binaries/**" filters="none"/>
        <intercept-url pattern="/login*" filters="none"/>
        <intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY, ROLE_everybody" />
        <form-login login-page="/login"
                    authentication-failure-url="/login?loginError=true"/>
        <logout/>
        <remember-me
                key="60dc2e90-d1f9-11e1-9b23-0800200c9a66"
                user-service-ref="kkUserServiceDetailsService"
                token-validity-seconds="31536000"
                />
    </http>

    <authentication-manager>
        <authentication-provider ref="kkAuthenticationProvider" />
    </authentication-manager>


    <beans:bean name="kkAuthenticationProvider" class="org.onehippo.forge.konakart.site.security.KKAuthenticationProvider"/>
    <beans:bean name="kkUserServiceDetailsService" class="org.onehippo.forge.konakart.site.security.impl.KKUserDetailsServiceImpl"/>

</beans:beans>